/* @import './reset.css';
@import './layout.css'; */

/* @import url(styles.css) all and (max-width: 768px) {...}

@import url(styles.css) all and (max-width: 960px) {...} */
/* For mobile phones: */
*{
    box-sizing: border-box;
    box-sizing: content-box;
}

/* for mobile */
@media ( min-width: 480px )and( max-width: 768px ){
    .a,.b,.c,.d{
        width:480px ;
        height:125px;
    }
    .a{
        height:75px;
    }
    .b{
        height:150px;
    }

}

/* for desctop */
/* @media ( min-width: 768px )and( max-width: 960px ){

} */